footer#footer
  .container
    .row.visible-desktop
      .span3
        p &copy; 2013 
          span.brand Lessons for Life
      .span2
        include mailchimp
      .span2.pull-right
        em.pull-right
          | Built by
          a.pull-right(href='http://avant.io')
            img.avantio-logo(src='http://static.avant.io/images/logos/avant.io-logo-white-150x36.png', alt='Avant.io')
    .row.hidden-desktop
      .span12
        span.pull-right
          include mailchimp
        p &copy; 2013 
          span.brand Lessons for Life
      .row.avantio-footer
        .span12
          em.pull-right
            | Built by
            a.pull-right(href='http://avant.io')
              img.avantio-logo(src='http://static.avant.io/images/logos/avant.io-logo-white-150x36.png', alt='Avant.io')