//- socialicons.jade
#social-icons
  .visible-desktop
    a.fc-webicon.facebook(href='https://www.facebook.com/LessonsforLifeProject', target="_blank") Like us on Facebook!
    a.fc-webicon.twitter(href='https://twitter.com/LessonsforLife', target="_blank") Follow us on Twitter!
    //- a.fc-webicon.pinterest.large(href='http://pinterest.com', target="_blank") Pinterest
    a.fc-webicon.rss(href='/rss', target="_blank") RSS
    a.fc-webicon.mail(href="mailto:?to=&subject=Lessons%20for%20Life%20Project&body=I%20thought%20you%20might%20appreciate%20Lessons%20for%20Life%20(http://lessonsforlife.me).%20It's%20a%20little%20project%20that%20is%20doing%20big%20things%20to%20share%20some%20of%20life's%20greatest%20lessons.", target="_blank") Email
  .visible-tablet
    ul
      li
        a.fc-webicon.facebook(href='https://www.facebook.com/LessonsforLifeProject', target="_blank") Like us on Facebook!
      li
        a.fc-webicon.twitter(href='https://twitter.com/LessonsforLife', target="_blank") Follow us on Twitter!
      //- a.fc-webicon.pinterest.large(href='http://pinterest.com', target="_blank") Pinterest
      li
        a.fc-webicon.rss(href='/rss', target="_blank") RSS
      li
        a.fc-webicon.mail(href="mailto:?to=&subject=Lessons%20for%20Life%20Project&body=I%20thought%20you%20might%20appreciate%20Lessons%20for%20Life%20(http://lessonsforlife.me).%20It's%20a%20little%20project%20that%20is%20doing%20big%20things%20to%20share%20some%20of%20life's%20greatest%20lessons.", target="_blank") Email
