//- index.jade
.jumbotron-transparent.subhead
  .container
    img.aligncenter.banner(src='http://static.lessonsforlifeproject.com/images/logos/lessons-for-life-header-owl.png')
    //- h1.brand Lessons for Life
    //- p.lead.brand A project to share life's greatest lessons.
    //- p.lead.brand.pull-right By: Snow White Bui
    .row
      .span12
        .centered
          h3.lead.brand What are the three things you wish you knew when you were younger?
#lessons-excerpts
//- .container
#pagination.container
