article.post.container(id='post-{{id}}')
  .span8.offset2
    header
      h1.entry-title.visible-desktop {{ title }}
      h3.entry-title.hidden-desktop {{ title }}
      //- p.author.byline.vcard Written by {{ author.name }}
        //- a(href='/p/author/{{ author.name }}') {{ author.name }}
    section.row
      .span8
        //- .visible-desktop
        //-   - if (locals.previous_id)
        //-     a.left.carousel-control(href='/p/{{ previous_id }}', title='Previous Post') ‹
        //-   - if (locals.next_id)
        //-     a.right.carousel-control(href='/p/{{ next_id }}', title='Next Post') ​​​​​›
        {{ content }}
    .row.timestamp
      .span8
        time.updated(datetime='{{ modified }}', pubdate='{{ date }}') Posted on {{ dateFormatted }}
    section.row
      .span8
        .visible-desktop
          - if (locals.previous_id)
            a.left.carousel-control(href='/p/{{ previous_id }}', title='Previous Post') ‹
          - if (locals.next_id)
            a.right.carousel-control(href='/p/{{ next_id }}', title='Next Post') ​​​​​›
        .hidden-desktop.ui-controls
          - if (locals.previous_id)
            a.btn.btn-info(href='/p/{{ previous_id }}', title='Previous Post')
              i.icon-chevron-left.icon-white
              |  Previous Post
          - if (locals.next_id)
            a.btn.btn-info.pull-right(href='/p/{{ next_id }}', title='Next Post')
              |   ​​​​​Next Post 
              i.icon-chevron-right.icon-white
    footer
      #lessons-social-inline
  //- #disqus_thread