//- social.jade
span.lessons-social-horizontal
  span.lessons-social-button.lessons-social-facebook
    //- fb:like(send='false', layout='button_count', width='65', show_faces='true')
    .fb-like(data-href="http://lessonsforlife.me/p/{{id}}", data-send="true", data-layout="button_count", data-width="125", data-height="21", data-show-faces="false")
    //- iframe(src='//www.facebook.com/plugins/like.php?href=http://lessonsforlife.me/p/{{id}}&amp;send=false&amp;layout=button_count&amp;width=75&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21&amp;appId=458239647572623',
    //-     scrolling='no', frameborder='0', style='border:none; overflow:hidden; width:75px; height:21px;',
    //-     allowTransparency='true')

  span.lessons-social-button.lessons-social-twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@LessonsForLife')
    meta(name='twitter:creator', content='@LessonsForLife')
    //- meta(name='twitter:url', content='{{ url }}')
    meta(name='twitter:url', content='http://lessonsforlife.me/p/{{id}}')
    meta(name='twitter:title', content='{{ title_plain }}')
    meta(name='twitter:description', content='{{ excerpt }}')
    //- if (attachments[0].images.thumbnail)
    //- if (url)
    //-   meta(name='twitter:image', content='{{ attachments[0].images.thumbnail.url }}')
    //- meta(name='twitter:image', content='http://lessonsforlifeproject.com/wp-content/uploads/2011/11/shaheen-150x150.png')
    a.twitter-share-button(href='https://twitter.com/share', data-via='LessonsForLife', data-url='http://lessonsforlife.me/p/{{ id }}', data-text='{{ title_plain }}') Tweet

  span.lessons-social-button.lessons-social-plusone
    .g-plusone(data-size='medium')

  - if (locals.attachments.length > 0 && locals.attachments[0].images)
    span.lessons-social-button.lessons-social-pinterest
      a.pin-it-button(href='http://pinterest.com/pin/create/button/?url=http://lessonsforlife.me/p/{{ id }}&media={{ attachments[0].images.large.url }}&description={{ excerpt }}', count-layout='horizontal')
        img(border='0', src='//assets.pinterest.com/images/PinExt.png', title='Pin It')
  - else
    span.lessons-social-button.lessons-social-pinterest
      a.pin-it-button(href='http://pinterest.com/pin/create/button/?url=http://lessonsforlife.me/p/{{ id }}&media={{ url }}&description={{ excerpt }}', count-layout='horizontal')
        img(border='0', src='//assets.pinterest.com/images/PinExt.png', title='Pin It')